requests
selenium
pandas
threaded
random_useragent
bs4
arrow
python-statemachine
ibpy2
ibapi
requests_html
yahoo_fin
redis
numpy
click
mysql-connector
IPython
pytest
matplotlib
plotly
xgboost
yfinance
ta-lib
tabulate
pycountry
pycountry_convert